@charset "UTF-8";

/* font */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face { 
    font-family: 'MalgunGothic'; 
    src: url(./resource/font/MalgunGothic.eot); 
/*    src: url(http://hangeul.naver.com/webfont/NanumSquare/NanumSquareR.eot?#iefix) format('embedded-opentype'), url(http://hangeul.naver.com/webfont/NanumSquare/NanumSquareR.woff) format('woff'), */
    src: url(./resource/font/MalgunGothic.ttf) format('truetype'); 
}

@font-face { 
    font-family: 'verdana'; 
/*
    src: url(http://hangeul.naver.com/webfont/NanumSquare/NanumSquareR.eot); 
    src: url(http://hangeul.naver.com/webfont/NanumSquare/NanumSquareR.eot?#iefix) format('embedded-opentype'), url(http://hangeul.naver.com/webfont/NanumSquare/NanumSquareR.woff) format('woff'), 
*/
    src: url(http://hangeul.naver.com/webfont/NanumSquare/verdana.ttf) format('truetype'); 
}

/*reset*/
body, h1, h2, h3, h4, p, ul,pre{margin:0;padding:0;}
body{font-family:'나눔고딕','Nanum Gothic','맑은고딕','MalgunGothic','Helvetica',sans-serif,'verdana';color: #333l}
h1, h2, h3, h4, h5, h6{font-size:inherit;}
ul{list-style:none;}
img{border:0; vertical-align:top;}
a{text-decoration:none; color: #333;}
em{font-style:normal;}

/*평점&리뷰*/
.rating_review_wrap{padding:0 34px;width:808px;margin:12px auto 0 auto;} 
.rating_review_wrap h1{font-size:31px;line-height: 96px;border-bottom:2px dashed #aeaeae;}
.rating_review{overflow: hidden;padding:19px 0 21px 0;}
.rating_review_img{float:left;width: 18.6%; text-align: left;}
.rating_review_img img{width:120px;height: 171px;}
.rating_review_img + .rating_review_inner{float:left;width:81.4%;}
.rating_review_inner{width: 100%;}
.rating_review_inner_top{overflow: hidden;border-bottom:2px solid #efefef;margin-top: 2px;padding-bottom:13px;}
.rating_review_inner_top .star_grade_wrap{float:right;overflow: hidden;}
.rating_review_tit{float:left;}
.rating_review_tit a{height: 24px;font-size:24px;line-height: 24px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color:#0a50b8; }
.rating_review_txt{margin-top: -16px; height: 140px; line-height: 37px;white-space: pre-line;overflow: hidden;font-size: 23px;letter-spacing: -1px;}

/* 별점 */
.star_grade_wrap{overflow: hidden;}
.star_grade{float: left; display: block; margin-right: 20px;width: 147px;height: 25px;background: url(../images/star_bg.png)repeat-x 0 -27px; background-size: cover;}
.star_grade_bg{background: url(../images/star_bg.png) repeat-x 0 0;display: block;height: 25px; font-size: 1px;text-indent: -9999px;background-size:147px;}
.star_grade_num{float: left;font-size: 22px; color: #181818;font-weight: bold;letter-spacing: -1px;}










