@charset "UTF-8";

/*reset*/
body, h1, h2, h3, h4, p, ul,pre{margin:0;padding:0;}
body{font-family:'나눔고딕',Nanum Gothic, '맑은고딕', MalgunGothic, Helvetica, sans-serif, verdana;color: #333;}
h1, h2, h3, h4, h5, h6{font-size:inherit;}
ul{list-style:none;}
img{border:0;vertical-align:top;}
a{text-decoration:none;color:#333;}
em{font-style:normal;}

/*평점&리뷰*/
.rating_review_wrap{padding:0 34px;width:808px;margin:0 auto;}
.rating_review_wrap h1{padding-top:12px;font-size:31px;line-height:96px;border-bottom:2px dashed #aeaeae;}
.rating_review{overflow:hidden;padding:19px 0 21px 0;}
.rating_review_img{float:left;width:15%; text-align:left;}
.rating_review_img a{display:inline-block;}
.rating_review_img img{width:102px;height:145px;}
.rating_review_img + .rating_review_inner{float:left;width:85%;}
.rating_review_inner{width:100%;}
.rating_review_inner_top{overflow:hidden;border-bottom:2px solid #efefef;margin-top:2px;padding-bottom:13px;}
.rating_review_inner_top .star_grade_wrap{float:right;}
.rating_review_tit{float:left;max-width:73%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.rating_review_tit a{height:24px;font-size:24px;line-height:24px;color:#00f;}
.rating_review_txt{margin-top:-15px;height:116px;line-height:30px;white-space:pre-line;overflow:hidden;letter-spacing:-1px;}

/* 별점 */
.star_grade_wrap{overflow: hidden;}
.star_grade{float: left; display: block; margin-right: 20px;width: 126px;height: 22px;background: url(../images/star_bg.png)repeat-x 0 -25px; background-size:126px;}
.star_grade_bg{background: url(../images/star_bg.png) repeat-x 0 0;display: block;height: 22px; font-size: 1px;text-indent: -9999px;background-size:126px;}
.star_grade_num{float: left;font-size: 18px; color: #666;font-weight: bold;letter-spacing: -1px;}










